.stgit*
*~
*.o
/*.a
/confdefs.h
/conftest.cpp

doc/*.html
/cm4all-workshop
/cm4all-cron

*.cache
build
libtool
*.log
*.status
*.trs
Makefile
Makefile.in
configure
aclocal.m4
.libs
.deps
.dirstamp
perf.data

t/test-pg_decode_array
t/test-pg_encode_array
