[Unit]
Description=CM4all Workshop
After=network.target

[Service]
Type=notify
ExecStart=/usr/lib/cm4all/workshop/systemd/run.sh
KillMode=process
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

CPUSchedulingPolicy=batch
RestrictRealtime=yes
TimerSlackNSec=1s

SyslogIdentifier=cm4all-workshop

# enable crash dumps
LimitCORE=infinity

[Install]
Alias=workshop.service
WantedBy=multi-user.target
