Source: cm4all-workshop
Section: non-free/admin
Priority: optional
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: cdbs (>= 0.4.6), debhelper (>= 4), gcc (>= 4), libevent-dev, libpq-dev (>= 8), xsltproc, docbook-xsl
Standards-Version: 3.6.1

Package: cm4all-workshop
Architecture: any
Depends: ${shlibs:Depends}, lsb-base (>= 3.0-6), cm4all-thirdparty-multilog
Description: Distributed job scheduler
 cm4all-workshop is a daemon which reads jobs from a database queue
 (PostgreSQL) and executes them.  Multiple instances distributed over
 a network can read the queue at the same time.

Package: cm4all-workshop-doc
Architecture: all
Description: Documentation for cm4all-workshop
 cm4all-workshop is a daemon which reads jobs from a database queue
 (PostgreSQL) and executes them.  Multiple instances distributed over
 a network can read the queue at the same time.
 .
 This package provides documentation.
