Source: cm4all-workshop
Section: non-free/admin
Priority: optional
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 9), dh-systemd,
 meson (>= 0.37),
 libevent-dev (>= 2.0.19),
 libsystemd-dev, libdbus-1-dev,
 libcap-dev, libseccomp-dev,
 libboost-dev (>= 1.54),
 libboost-system-dev (>= 1.54),
 libboost-filesystem-dev (>= 1.54),
 libpq-dev (>= 8.4),
 libcurl4-openssl-dev (>= 7.38),
 libcm4all-daemon-dev (>= 0.4.2),
 python3-sphinx
Standards-Version: 3.9.3
Vcs-git: git@dev.intern.cm-ag:max/workshop.git

Package: cm4all-workshop
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser,
 systemd-sysv
Suggests: cm4all-workshop-database, cm4all-workshop-migrate
Description: Distributed job scheduler
 cm4all-workshop is a daemon which reads jobs from a database queue
 (PostgreSQL) and executes them.  Multiple instances distributed over
 a network can read the queue at the same time.

Package: cm4all-workshop-database
Architecture: all
Depends: ${misc:Depends}
Description: Distributed job scheduler database package
 Database package providing initial SQL statement used by cm4all-workshop.
 This package includes only a sql file which can be included by other packages.
 cm4all-workshop is a daemon which reads jobs from a database queue
 (PostgreSQL) and executes them.

Package: cm4all-workshop-migrate
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Database migration tool for Workshop
 cm4all-workshop is a daemon which reads jobs from a database queue
 (PostgreSQL) and executes them.  Multiple instances distributed over
 a network can read the queue at the same time.
 .
 This package contains a tool which migrates the database schema.

Package: cm4all-workshop-doc
Section: non-free/doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for cm4all-workshop
 cm4all-workshop is a daemon which reads jobs from a database queue
 (PostgreSQL) and executes them.  Multiple instances distributed over
 a network can read the queue at the same time.
 .
 This package provides documentation.
